<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <P>Addition is:{{ sum }}</P>
        <P>Substraction is:{{ sub }}</P>
        <P>Multiplication is:{{ mul }}</P>
        <P>Division is:{{ div }}</P>
    </body>
</html>